<?xml version='1.0'?>
<settings>
  <profiles>
    <profile>
      <id>ansj_seg</id>
      <repositories>
        <repository>
          <id>mvn-repo</id>
          <url>http://maven.nlpcn.org/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>ansj_seg</activeProfile>
  </activeProfiles>
</settings>